# Raw data (reproducible via Synthea, see protocol)
data/

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Intermediate outputs
output/

# Synthea executable (download separately, see docs/project_brief.md)
*.jar